:root {
    --col_black: #0f0f0f;        /* fond principal */
    --col_white: #e6e6e6;        /* texte principal */
    --col_grey: #333333;         /* bordures */
    --col_orange: #eb6c1a;       /* accent chaud */
    --col_black2: #151515;       /* header */
    --col_black3: #1a1a1a;       /* cartes */
    --col_grey2: #555555;        /* texte secondaire */
    --col_light_blue:#96dcf8;
    --col_blue: #00adee;         /* accent principal */
    --col_blue_dark: #809dd2;    /* hover */
    --col_blue_dark2: #0e5488;

}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: var(--col_black);
    color: var(--col_white);
    line-height: 1.6;
}

header {
    padding: 20px 40px;
    background: var(--col_black2);
    border-bottom: 1px solid var(--col_grey);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    margin-right: 20px;
    color: var(--col_orange);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: var(--col_blue);
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 25px;
}